<button class="routerButt" mat-mini-fab (click)="goBackToHome()">🏰</button>
<div class="lore-container">
<div class="lore-container1">
    <mat-card class="lore-card-overview">
      <mat-card-header>
        <mat-card-title>AIOT Overview</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>Adventure is out there.You the intrepid adventurer have landed upon a 
            strange new realm.Fear is not an option. Here,your heart beats in harmony
            with the call of the unknown and an overwhelming desire for conquest.
            Welcome to the realm of Vermondria."May the seeker's heart embrace the dance of destiny, 
            where every quest is a waltz with the stars, and the whispers of hidden truths guide your 
            steps through the ethereal labyrinth of existence."
            
        </p>
      </mat-card-content>
    </mat-card>


    <mat-card class="lore-card-world">
        <mat-card-header>
          <mat-card-title>World</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Vermondria, a realm unique among the cosmic tapestry, veiled in an ethereal 
            cloak that shields it from the known reaches of the Universe. Should you happen to be  
            guided to its mystical embrace, prepare to be ensnared by the eternal allure 
            that graces this sacred land. A singular, expansive landmass, Elactri, stretches 
            majestically across Vermondria's surface, cradled by the radiant Galmeese 
            Maris—a vibrant ocean painted in hues of crystalline blue. At the very heart of 
            Elactri, a celestial dance unfolds—a circular river meanders gracefully, spiraling 
            around the foothills of The Magical Mountains, where the mystical forces of nature 
            converge in harmonious splendor.
          </p>
        </mat-card-content>
      </mat-card>

  </div>

  <div class="lore-container2">

    <mat-card class="lore-card-fr">
        <mat-card-header>
          <mat-card-title>Factions and Races</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>No realm is safe from the toils and troubles of division. Currently 
            there exist 3 distinct factions, each one splitting the main land into
            borders, the first and most unified faction, named protector of the sacred
            Magical Mountains The Crystees. They remain an overall peaceful culture, made
            up of various races: humans,elves,dwarves, and Livari. The Livari are a cross-breed 
            between humans and elves, these people share in the diversity of both races. The dwarves
            however are incapable of crossing between races, and so remain un-mixed. The Second faction
            The Barthonin rescides on the eastern side of Elactri, and to the right of The Cristees.
            The Barthonin are made up of one race, void. Void people's appearance are absent of any color
            other than absolute nothing, a foggy black mist surrounds these people everywhere they go.Their 
            lands are filled with dense dark forests and mystical ruins, but because many void people tend
            to only come out at night, these lands are still occupied by a variety of groups, races, and cultures.
            Finally the third faction and the most dangerous faction Chthonic-Dominon a relentless group
            filled with orcs, the undead, and Daboi. Located on the western portion of Elactri this land is 
            split from the rest by a great wall of flame, made only traversable through underground tunnels.
            The Daboi are dark elvish wizards with red glowing tattoos marking their bodies, they hate 
            the Crystees with burning passion, and wish to destroy and take their lands. So they have unified
            with the orcs and spawning the undead to destroy them...

          </p>
        </mat-card-content>
      </mat-card>

      <mat-card class="lore-card-plot">
        <mat-card-header>
          <mat-card-title>Plot</mat-card-title>
        </mat-card-header>
        <mat-card-content>
          <p>Title: Veil of Shadows
          In the mystical realm of Vermondria, the balance between harmony and discord teeters on the edge. The adventurer, drawn by the call of the unknown, 
          arrives in a land where fear is forbidden. As they set foot on this sacred ground, the factions of Vermondria vie for control, each with their own unique 
          motives and dark secrets.The adventurer, driven by an overwhelming desire for conquest, steps into the realm of Vermondria. The ethereal cloak that veils
           the cosmic tapestry beckons them to explore the mysterious land. The journey begins on the beaches of Elactri, a sprawling landmass cradled by the radiant Galmeese Maris, 
           where the Magical Mountains hold the key to ancient secrets.The Crystees, guardians of the Magical Mountains, embrace peace and diversity. The Barthonin, void beings in the east, 
           remain elusive, their motives shrouded in darkness. The Chthonic-Dominon, a relentless force in the west, seeks to annihilate the Crystees and claim their lands.
           The Crystees, in their quest for unity, discover an ancient prophecy foretelling the rise of a savior. A dance of shadows unfolds as the adventurer, chosen by destiny, navigates the 
           intricate web of factions. The Barthonin's mysterious lands, the Chthonic-Dominon's fiery barrier, and the Crystees' sacred grounds become stages for a cosmic waltz.
          Guided by the mystical forces of nature, the adventurer journeys to the heart of the Magical Mountains. There, beneath the mountains, they uncover the long-forgotten artifact with the power to reshape destinies. 
          The fate of the realm rests on the adventurer's choices. Will there be peace in the troubled realm of Vermondria..?
        </p>
        </mat-card-content>
      </mat-card>

  </div>
</div>

  
