#newPostForm {
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-top: 10px;
    max-width:800px;
}
#contents {
    min-height: 200px;
}
#createButton {
    max-width: 150px;
    min-width: 70px;
}
.centeredRow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}