<div class="diBoxBody">
<h1>Adventure Is Out There</h1>
<ul> <li>|One-Adventurer|</li>
    <li>|Nine-Challenges|</li>
    <li>|Five-Lives|</li>
    <li>|Zero-Failures|</li>
    <li>|Seven-Maps|</li>
    
</ul>
<p>Amidst the rhythmic whispers of the azure waves and the distant cries 
    of seagulls, a solitary adventurer awoke on the sun-kissed shore, their mind draped
     in the thick mist of forgotten memories. The fine grains of sand cradled their disoriented form, 
     and the salt-laden breeze carried a tantalizing mystery, concealing the origin of this fateful arrival.
    
     With no recollection of name or past, the adventurer felt an urgent calling etched into the recesses of their 
     soul—a calling that resonated with the distant echoes of a voice pleading for liberation. The sands beneath 
     their feet seemed to murmur secrets of ancient realms, and the horizon stretched endlessly, teasing tales of 
     untold wonders and perilous quests.
    
</p>

<button mat-button [mat-dialog-close]="'close'">Close</button>

</div>